{% extends "ProyectoTestApp/base.html" %}

{% load static %}

{% block content %}

    <div  style="margin-top: 10px; margin-left: 30%; margin-right: 30%;">
        <div class="row">
            <div class="col-md-12 search">
                <form action="" method="GET" style="color: white;">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control" placeholder="Buscar..." name = "buscar" value="{{ request.GET.buscar }}">
                            <span class="input-group-list">
                                <i class="icon icon-search"></i>
                                <button type="submit" class="btn btn-warning">Buscar</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card-footer text-center" style="position: absolute; right: 1%; ">
        <a href="{% url 'agregarCategoria' %}" class="btn btn-success btn-lg">Agregar</a>
    </div>
    
    <div style="margin-top: 10px; margin-left: 7%; margin-right: 8%;">

        <table class = "table table-bordered" style="color: white;">
            <thead class="thead-dark">
                <tr>
                    <th colspan="4" class="text-center">
                        UNIFORMAT
                    </th>
                </tr>

                <tr>
                    <th>Código</th>
                    <th>Descripción en Español</th>
                    <th>Descripción en Inglés</th>
                    <th></th>
                </tr>

            </thead>

            <tbody>
                {% for UFTCategoria in UFTCategorias %}

                <tr>
                    <td>{{UFTCategoria.Codigo}}</td>
                    <td>{{UFTCategoria.descriSpa}}</td>
                    <td>{{UFTCategoria.descriEng}}</td>
                    <td style="border: none; width:230;">
                        <a href="{% url 'nivel2' UFTCategoria.idUftCat %}" class="btn btn-sm btn-secondary">Nivel 2</a>
                        <a href="{% url 'editarCategoria' UFTCategoria.idUftCat %}" class="btn btn-sm btn-info">Editar</a>
                        <a href="{% url 'eliminarCategoria' UFTCategoria.idUftCat %}" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

{% endblock %}